.card{
    background-color: white;
    box-shadow:  2px 2px #888888;
    display: flex;
    flex-direction: row;
    min-height: 50px;
    border-radius: 5px;
    margin: 10px 0px;
    .card-description{
        width: 90%;
        border: none;
        resize: none;
        border-radius: 5px;
        cursor: default;
    }
    .card-actions{
        display: flex;
        flex-direction: column;
        width: 10%;
        .action{
            color: #000;
            cursor: pointer;
        }
    }
}